@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/adobe-clean/AdobeCleanRegular.otf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Adobe Clean';
    color: #69665C ;
    letter-spacing: 0.5px;
}

.container{
    margin: 0 15px;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
    
    font-weight: 600;
}

.nav__img {
    width: 30px;
    height: 30px;
}

.floatbox {
    display: none;
}