@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/adobe-clean/AdobeCleanRegular.otf') format('truetype');
}

body {
    width: 100vw;
    margin: 0;
    font-family: 'Adobe Clean';
    color: #69665C ;
    letter-spacing: 0.5px;
}

.container{
    width: calc(100% - 30px);
    margin: 0 15px 60px;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title {
    font-size: 30px;
    
    font-weight: 600;
}

.nav__img {
    width: 30px;
    height: 30px;
}

.floatbox {
    width: 100%;
    margin-top: 40px;
    display: none;
    flex-direction: column;
    animation: slide 0.5s;
}

@keyframes slide {
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(0%);
    }
}

.floatbox__header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cancel {
    font-size: 14px;
}

.add, .editor{
    width: 120px;
    height: 90%;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #69665C;
    font-family: 'Adobe Clean';
    font-weight: 600;
}

.floatbox__body {
    margin-top: 30px;
}

.body__text {
    font-size: 16px;
}

.body__input {
    width: calc(100% - 15px);
    height: 40px;
    font-family: 'Adobe Clean';
    font-weight: 700;
    border-radius: 10px;
    border: none;
    color: #69665C;
    background-color: #f9f9f7;
    padding-left: 15px;
}

.body__input--big::placeholder{
    position: absolute;
    top: 15px;
    left: 15px;
}

.body__input--big {
    padding-top: 15px;
    padding-bottom: 125px;
}

textarea {
    resize: none;
}

.body__description {
    margin-top: 40px;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.empty {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty__img {
    width: 90%;
}

.task{
    width: calc(100% - 30px);
    padding: 15px 15px 20px;
    background-color: #FFF9DE;
    border-radius: 10px;
    margin-bottom: 30px;
}

.nav__task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task__options{
    width: 17.5px;
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #69665C;
}

.task__info{
    width: 100%;
    margin-bottom: 20px;
}

.checkbox{
    display: flex;
    justify-content: end;
    align-items: center;
}

.check{
    opacity: 0;
}

.checkmark{
    height: 15px;
    width: 15px;
    border: #69665C solid 1px;
    border-radius: 30%;
}

.check:checked ~ .checkmark{
    background-color: #69665C;
}

.check__text{
    font-size: 12px;
}

.task__tooltip {
    width: 140px;
    height: 80px;
    border-radius: 10%;
    z-index: 100;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.task__tx {
    margin: 0 0 0 15px;
    font-size: 15px;
    color: #B2AFA1;
}

.task__title{
    font-weight: 700;
}

.options{
    width: 160px;
    height: 90px;
    z-index: 100;
    padding-left: 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: none;
    flex-direction: column;
    justify-content: center;
}

.options .edit, .options .remove{
    height: 50%;
    display: flex;
    align-items: center;    
    color: #cccac0;
}

.options .edit::before{
    content: "";
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    border-bottom: solid #d3d0c5 1px;
}